.Card {
    height: 400px;
    width: 260px;
    background-color: blueviolet;
    margin: 50px;
    border-radius: 15px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
}

.Card img {
    border-radius: 15px;
    height: 200px;
    width: 240px;
}

.Card h4 {
    margin: 0;
    font-size: 20px;
    color: #ffcc00;
    font-style: italic;
}

.Datos {
    margin: 0;
    color: white;
    font-weight: bold;
}

.Detalle {
    width: 200px;
    height: 35px;
    background-color: #ffcc00;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    color: blueviolet;
}

.Detalle:hover {
    background-color: white;
    color: #ffcc00;
}