.Counter {
    height: 25px;
    width: 200px;
    background-color: darkorange;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 25px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.Botones {
    background-color: blueviolet;
    color: white;
    border-radius: 5px;
}

.Agregar {
    background-color: darkorange;
    border-radius: 5px;
}
